@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
  padding: 24px;
}
#root{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

:root{
    --color1: #006C8A;
    --color2: #D0E2E8;
    --color3: #E7F0F3;
    --color4: #A8BAC0;
    --texto: #2e2e2e;
    --texto-light: #4c4c4c;
}

header{
  align-items: center;
  width: 100%;
  justify-content: space-between;

  .logo{
    gap: 15px;
    color: var(--color1);
  }

  img{
    height: 40px;
  }

  .botoes{
    gap: 10px;

    .botao{
      background-color: var(--color3);
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.navbar{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: var(--color1) 2px solid;
  justify-content: space-around;
  padding: 15px;
}

.navbar-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  color: var(--texto-light);

  svg{
    width: 30px;
    height: 30px;
  }
}

section{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.horizontal{
    display: flex;
    flex-direction: row;
}

.border{
      border-radius: 15px;
      border: var(--color2) 1px solid;
}

.card-evento {
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0 5px 10px;

    img {
        width: 100px;
        height: 150;
    }

    .conteudo-card {
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        .data {
            font-weight: 700;
            color: var(--color1);
            fill: var(--color1);
            align-items: center;
            gap: 5px;
        }

        p {
            font-size: 14px;
            display: -webkit-box;
            line-clamp: 3;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}