@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  padding: 24px;
  margin-bottom: 85px;
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
}

:root {
  --color1: #006C8A;
  --color2: #D0E2E8;
  --color3: #E7F0F3;
  --color4: #A8BAC0;
  --texto: #2e2e2e;
  --texto-light: #929292;
}

header {
  align-items: center;
  width: 100%;
  justify-content: space-between;

  .logo {
    gap: 15px;
    color: var(--color1);
  }

  img {
    height: 40px;
  }


}

a {
  text-decoration: none;
}

.botoes {
  gap: 10px;
}

.botao {
  background-color: var(--color3);
  min-width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h5 {
  color: var(--color1);
  font-weight: 800;
  font-size: 16px;
}


button {
  align-items: center;
  justify-content: center;
  background-color: var(--color1);
  color: #FFF;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  gap: 10px;
  border-radius: 10px !important;
  min-height: 50px;
}

hr {
  border: var(--color2) 1px solid;
}

.navbar {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: var(--color1) 2px solid;
  background-color: #FFF;
  justify-content: space-around;
  padding: 15px;
}

.navbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  color: var(--texto-light);

  svg {
    width: 30px;
    height: 30px;
  }
}

section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.title {
  gap: 10px;
  align-items: center;

  svg {
    border: var(--color1);
  }
}


.justify {
  justify-content: space-between;
  align-items: center;
}

.border {
  border-radius: 15px;
  border: var(--color2) 1px solid;
}

.bloco {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: var(--color3);
  border-radius: 15px;
  border: var(--color2) 1px solid;
  gap: 15px;

  .title {
    gap: 10px;
    align-items: center;
  }

  input {
    background-color: var(--color3);
    border: 0;
    border-bottom: var(--color4) 2px solid;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 600;
  }

  input::placeholder {
    color: var(--texto-light);
  }

  .data {
    width: 50%;
    align-items: center;
    gap: 10px;
  }
}

.card-evento {
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0 5px 10px;

  img {
    width: 100px;
    height: 150;
  }

  .conteudo-card {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .data {
      font-weight: 700;
      color: var(--color1);
      fill: var(--color1);
      align-items: center;
      gap: 5px;
    }

    p {
      font-size: 14px;
      display: -webkit-box;
      line-clamp: 3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--texto-light);
    }

    h3 {
      color: var(--texto);
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--color1);
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.ImgEvento {
  width: 100%;
  height: 250px;
  border-radius: 15px;
}

.data-destaque {
  background-color: var(--color1);
  color: #FFF;
  padding: 5px 10px;
  border-radius: 20px;
}

iframe {
  width: 100%;
}

#organizador {

  .botao {
    background-color: var(--color2);
  }

}

button {
  width: 100%;
  border-radius: 15px !important;
  border: 0;
  cursor: pointer;
}

.bottom{
  height: 100%;
  justify-content: end;
  margin-bottom: 200px;
}

.bloco{
  h4{
    color: var(--color1);
  }

  p{
    color: var(--texto);
  }
}

form{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cards-preferencias {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.card-preferencia {
  position: relative;
  width: 100%;
  padding: 30px;
  text-align: center;
  background-size: cover;
  background-position: center;
  color: #FFF;
  overflow: hidden;

  h4{
    position: relative;
    z-index: 1;
  }
}

.card-preferencia::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* shade preto com 30% */
  z-index: 0;
}


#culinaria {
    background-image: url(https://lh3.googleusercontent.com/fife/ALs6j_Ej4OTZ_stgIhP4lyCQgDfP5RrElN0x6K0H59EEgq6t-TXpI47SIq6v2Hv2jhPJX6RSCN1JyVIRtCQs4YFScHJOp70yMcxwETAHbxlXWYtkJEoWE012_NHgkXBg7uOc28zN9tzt35zlTYo_mzvA-TCGcprFDGIt_3bvtgmkaXulhAMauR6Ag6UNxuYj93ZJJ_eUACp-ZmMebgmRv0JgLSqY0bDEAS1zFSZi3TtQ3rfdCBa5xbs7DfLN9a7KRYRKyDEgEp5b__fsPfeXlgDDy0BpNYuhCbrl91XGN6LQRhdl7JSOnlus8_Cf68Mo31PHi407NLBOW6HkzDchP-JiPvLIVH1Zc1nLBOR6_OhObYv_1_tu9jCG4bJhYUvmIgaLJWEUHm1RtIpzSHpeMFenPRpwIjOwq8WYGk3nobkeIMdvphs_OhSeD18ijDQsO_42dOq93MiSt0pz5xXX_Bwh933kIDCAT0GOs2xsXZKwRCfVhqcDLJwi73Yipagf4ggCddLgzdH2aTSb5VM7osAQkWyQn4Wz2a6U31TPemr2VfsCXTj8pC74o8huj8gF59wYOKyEkozMunnlGrOj7W1gucK7UpDdh5AqiBDOXrGdpjSJAOfbpvdh1Pif8NfKtMIAbckRrQd6tw4hqGd9N07Kel2J6RpFCGRAIoPOjngShV7T2jfvZwoEHE7NBHiAn8CLJwXg4MhWL5LYXpCXNzfRPunQsGr342wcDwwmC-wi14ltHe_bityFMmS5NoLr2M13fMuFohskpEM2zT2DUATkwB_B4ZhxeZYipj7brmxBwJS-gpo7PFVEqxGMo6BgYYF3UROAF36dbKIUZZwox44yMOROt6WMuVTwIWIIZFNLbyht6m_0Xu5JakzUqgJX_noHVyhRAfjLkltywNmvkkA9Zyb6HEnMBWnFZIxuvuOPNgi3TIb0mk5pEnxT1tfx4CL_C1N86O4diZsPVaewDOQ1sPI03W-SvdUuD5FXbiB4eiJG2HPhwVtuSQvCLQpRrlt_9dvECqlxNfJAzNFmT5sxY-lfP7CioucqPKg5jUamLOgH6qE9OkwOPTkP4ioxqKeNuLGrFFZpWCCx9iKdDfm-Zo3Q-9QzSDs1BYga8ls_9Z7vRz_m-mCBEiCSex4M1hUx2DYOozrzBhFe16RFpBrPX77I58WViATki0JyZghgHPfbIi1lf2Wd2H_nfB84M8HHRkc65rF8MULUQ39ifu49K78I7y4HO8oFi5nMhzS0olx98m2ddGpti5hEWjZALdGuOUSC83cRmJqab-WlHmIuty2DOQP97L88C_qNXD6Un2lhuv1qfVyTY9R_z0ENHKTtMQJbaQ5Kia2vfmTpPuta3PuLzNWE8EXcG_zcsaO29GDG98oq3el63qFs9B9ZdQa6X-7uuKaSfJWRHSg5vOE6nZyf2kPu7NhAbc7gBj5LNGI9KrfkSX2TQBkUJ5ZsUlN3eq7jf_QP9sI9ztVzMvBxlKnD3sYNMHDlU5kS2enDEZdvgliHGnbRyR9UZyEgNhRsWdk9l20jRqL6xhZXlQ-kp1tk_MSmgnhVkFhQ8ZudBE6Os8Ba3CgwzRW0jkbLiSod99Xs-duwqgYO5SPB_Y8FYz8RDLdKW9yHuFihzg3IiiXcTBrghsArx8XNHkdFimJgZCn6MQ7Big3H7ByY5n3YY9pqjTmFuKFRrYixgFde4oC1UCUwHfBK_oVVY9Wv3I2xR93Pau9Ib-gptt0W-w7dYNeYb-yfAbIaC7zks-xG_y3bja-C5Z72Rg=w1257-h913?auditContext=forDisplay);
}
#shows {
    background-image: url(https://lh3.googleusercontent.com/fife/ALs6j_GqPR1Z90LoGwlT2vp4BvksIutjrJ5a0D0FsAWFpRz-A8w1r2tBiAId5k9xliWPbMw48sxY5rRMIiDUb8xTfogvIZa5QCPsc3nhpHIKFVHLsdJRV5nQpZj-PL3dJdw-myaiBzMnEjiVhGPw1Ncy-bW-zzZdxFeV0Tts-3xV3wVdHIFYpuRRTWwpYq0Ww1NXx8Y0ZF82V3mF2nvxDUsWu17WYV93AJhbOWyENedbszBv4SDCNBU-Tl9UmpMwebLgipVbAxyW3_R3PxMt9kE8lqDcd-RabBmOPt6bkuCnI5sBjKQ0RQUkL42vSxp3zb9ZgueBPDNmzIV-uXtanmb6S2TwOS9UDVNX75nvmb5MYP7DAgycazTDcrHXReik8Lo2Js3nQnTIKB8lrEPTkhPxHbfHffZoOqinXAhvfhpDNF8ra-1kNBS6Aax9vvbxoelR8qKAaWgyKoZ72WeI2W4eJ5VfhkHu3EzkRIcLKBtoHQ14rBu6isE1bG7qmI7tGuEQWyEiwlFR5J7Gu4Ns7pm40zBPiUHoJZgiURG-AmShHcQ5v4St0-Cok2XUzFVbux7ZZgdj4iYe1xxjfXyBzNQ0xOQ3ZDtAzQr6KvgCooZKur5UaU7S4A12myiTcsWjy3zq_uvMTlrpC_718fVRI09r6sWrTyAwFqoaxJ899LREy4sY78Bj8rgrIeTVqn1X6h7atpEGNsHJ5L7LGEgp64qyDN6euUiJZlyfLWdOEjVwFo1thljyTOWllBW_ftjR-ZEcfGwEYt0dG_gliqX8Y0zNGoZ8pDV2fFNccocFfYm9OxsSDIUmnke4e_PzDxdjym81VPVfU_Tn7l_zAFPXvVKpLpgzEVlMbvDH0__wDigTy8wLDdhQNao0DQvNJIRqwwWIOyeaonv5wZ0qRslWShUtPYHz2eNfMX2pKkJ966Am-ZRJTVsOXWBjxEjtAxOY7aU1MVMBNOaAY1gLXSlEt31V_s7elE4l0DZG1QPZA0Xt7gqI_eGUbDj0l_qRb2Zrbn5DHxDpf5taADERPoZtIQYxgApte6zp0MQakjKoZKaMVUVS0IrA4njeapqcD9gSGm2228dqKaeUczmVlUcZS11ZkPG_OAcorU8MB0xsIUz_wVW12CRkbHoXejaxq90R7Xo1WOrxyaFEke3_eSzyx79ZcLPDYs4i_fMoIbA6TtogT2ak-7w2LCOvYL6VtAYy_rLd6X9c_9JhRFTsPYpmGunTpZduJJGkqsv0EjzXS4nYvjDrI9Pu0Famnx2QxLHapW3ejIO5_TXkXBNHkIXZPEV_OSC1w9KVMDQumFSBH5ETHHCempMiEx6GWbeUtXTZGKG_4AHPSe0fLqr8V_fgMoK3szKkqd_1KRElwW_GEC8nhpz4_rAlwmroQGr5uA99tlX-J8WSkafylEWXltwFXgCT4CK-KIraY-8jKdHJGoMZjqRE6W7SAvoN_TwUm4cj7KMSGXic0hqWvYqxFlbYSe_9PlicjwukqOslMXhBZTmrZRi0zYCbdKAuaua9waz8nzpc_Bo57TDGg1szdCZZcFNEUFFlCaSZgGSurv8WG8QHLmBitgvxrSylejGQpQzwa4uo4IxJCrzhDy3utJdM9DXORANSjZcZNPmceLthmFSk6I7jIsmD54Pn0rJmEGTn6bFGBaPStB3cvZcqxJAIw38tyKzuaSjhUD0g44kevsNcYsKKGQhPhZ_rFpEKnzX6hKz40ctetWdR9Dyj0nnDRtEMADJ50pJRk7a-OwYe0Qe6ysP3zV8TIruXBw=w1027-h913?auditContext=forDisplay);
}
#arte {
    background-image: url(https://lh3.googleusercontent.com/fife/ALs6j_HXYA-vmynoW3WscWnylv5lR1Aw2nrFsWjFm1EKBZQI36fYnadjiyGZz5JOuYkqrPSR_MMrMRlUKQG9qTXz0sfgEiQrLRQ5fvx8ioAKBA4uhwajiYxdSyhVTM1YQhAtT3cjjm2eAVLASmzJER9IKo6oF9oHGvN2oOyW-0zlfZ5JmtwI6qlqD1tHv2IEBnv-Qnr_XPV2GU617Cps6HulRPMp-zhM0zcHP2CgDa-EdMz01h0sf1Y6SdDmMQRYnXxu-16xBTvUs5ESBbBKMXnBq7CsMb0iv5sL9FzpyTihiORs01gm3wri6VmG40ZyS69FgOwFZ3r6-VmOz5_pa7yXfZl5LvQ6rE74QtnEcPBWs7dtVDdcNoHOzSrm9naTql_v8MIsDvqFb5G8StrpvOXQNW8jUDC6dq9-Cytsy0LIxLg1FMbbxemh3N_9RoSWqIHTBsJsy2NGfx_5O9SGxj2HbSthFr6yAiHXr2xP0qBtrxBS09G4PKepKEzjWtEd66jlmJq7Iw6kQhhi2NoFfFME_Varlp8gis43pRdki8LxBM5gorNERhUgh-fRTJQrBYe2D1Lf87DaY8PVfVdsO4xq46-ypt-iMvC5bdgUHiD1Xg1zCP34UcikLy3emXLb73cldut4ExkzEtTWcx4OMBPpXddnbjFWi_bTVuFX6hjarsWZgXjfqW6q0Mzic9Hag1w0W-uUjydrsKRcLZY5Re2cwbNBup9e4P_LF6vXuDrD7iGeaJKYTEbWNcV-PpeDH4zJXNFA71H2oUDLMKNR7K4PTkXkCqOtjjwJXew9tYbqYtWFGxx-Ok3GX2rLOVLU-tE19XKUQsCJY_CLbWmN9d1NCVf3AZ_wVNRzxULd3TYt0MsNksFNTPJoCyU5ZGKSHathrH8bl8ijItkgDO4Gn1fEYP02KiU03bG8YGnnPvakWkvpn-HpHVED9PfZV8ob4IVjswr-f6QMv6w41Q4ydX_cCa-j5I_qzGaZKjARtBj89P-4DNwKGUrvQAcF6P2J930AXQYLM4OG8Jes5XH2j4XUj_Xnd6t41i-H5oqGyBfieza8QzLyZeFP_yD07o-JqMJ6rGFMu3WdkZ2YeYbsYnjjJ2J9lwRK8s_0PXUZ8uI_uzoSXz8Lw78nTevYkuQe07VvEiR_zfKNmqrtJnTZRcQ-0uMwGeQMU6pgZa35ZtJ5pksQnADrjUzNM0QBrnzhpgazIvjm1TQjW39oD-3GftYhi9gRcMaqPNwXVZctSr82_mP1eF5tOb5NrQrfJaj1Q_Gf2ZiyDCxHHDZzoq8LlIM1G7_RZit7ww3s57dUIoPiF4zOhsG1vIdLlb8s4M6ZMsN9QAKHy_TFvJUmtYNVu1lBpjTynftpjNKwXIoCkZChVdNKWbgMr5sh_QK3dhVU2c5ukV4CF4CsVuWiWqzsFv3wOGppt5qsGAhyB0ZRMz7wNg3_Rgzstaup-nJarTO7DPFGjje4QgUv4dcTLmvF6sx8RXR2Hx334VaWZMTncZofGNAdh_RQZ5dFy0laPWiHkgb15FWsyeVb_OATS6oqurhy97FUkwakTt8rhmU4t6SYIriSUNtGSxYqsvxrWxm9DZw7hBXYzEyP4j1zlAYx-FZkXVKYAFnGGXHQe8PBkhgZhrl7uibuKFXNSV-kNdhZERW2UBkxGZNYC4EAKRG02TgBXPsju8KAg7H79cuG9gRfHMFwgHyz_L0xZPZuFRtYYdQ8G0R6L9MQMqNKlB4xfwlHSdtwyiLl1O8Icf1NUBDbinnAoMjEQB2uvPo=w1027-h913?auditContext=prefetch);
}
#passeios {
    background-image: url(https://lh3.googleusercontent.com/fife/ALs6j_G-UsH5nZtxmn4LMMD_pSB7RMgtJ8fcNJw_Z19iMqgCzs5zCKppRrhGwIgkik7-VWNgtSNFtVSFXyS3vBrYTrwDm2G0TMfxu2fzS7UKhsUj3JDF9Az6AuCDdTOC8kq3OwWXuLeNQDKfWGVlzbZShXEKKChZa5EwwcxViTVWeFOQPH_f3ab-F0qdtEjUvCTm_oIyRx7VGz_MXxhHmkCwrEdBFOqOLo3MMW_h_5kXSCH17jQoSkylZUQk-cxUP2gNvkOHlHNtx2PfJRCa4HL7NeRHMgyyRgviN6_ihtWHHipQSakF--WoEG0qysuPCVaM1yYVX2biqENtfzMiY8rVOF3XaM-Zchija_t_d5oG6wx8BD4gAPCs1egcKXwkfS0YokRYKKhm4TVMxshgTuvzT0FuoLQjwzmwx9qtSLXgwLgvaT7B1VzdpXnZEBcPlMmxh9EST_dUIk6OyN3nTIjM3T1op0qcMyeZ_0eYDBojsQ53-UEb_0CO4ahxv7HXr1Am6iO1WGZVj8RRf5X3j8dr11vX-2jwCbHmwucq5RXaH5plKwiE-JZ3tNQQGna8zUETgDy6iKdEVMIJSjAS6udrH3_7Y0Fe9_7XJFwS1WXbJKiTYztfNS2yi-RKohRgRRE3VGhdE2b5m5J_aemkUJVbN3-FKSVQcMJFkqrFk3nBgXCqCsvk8Janbz1GoNgQ-zVXjqcpi4gSzlBJRxld66Tu3UINPVny1FelZiFq5LEqQGjy5TFFZKh5qKaNtX73D_9iYJASMQFsISfOusIMW07e0K2DJKetkY0oGivOu0lSTSA38pJ-o-sqKJnM8F6PXJVh9Yjrb-MW0D4ZihMYIwjnB2USNTyKrX9mG8EJ1UpXpJlP_p9Q4ppMP_1XCRwbGyGEbjZre7In2hR_fAh0AqJAg95C0gTVjHGe9KUiaKDBb212y0gLZJkuw0iYjE39VrSaKSMLdF49vIv5wB01cqR7hCIuYso2ZshglDJgqvxPIu2Axkz68yxx6IACURM19mlo_39SJ8T8HfjJ1_Y9vrchY7bd5dCOlT3TirM_4NaOuR6w3UPfLMxyza7WM73CS8BQnWYURRvbgaSzkMH5QH9EIb1OyMygjMeV76rydmd6OhcOV2v6BlEnem9LiFBjqwanFVWe8kEdWZF4wW_BDP3bmrs6GNnp85Qh-4Wub7H-2Ow1T9GGuZlmOekMuh3c5YGlB3wqJBC7EQtk1MUQvj60Z_L85B2vtdYlayheJFAzkbwsN_jumvTYfpXq0GmiyUx1y8pXns-BysuHlxdz3BX39KtfeWfpx-jNDprTGbhRqJkpW7lzeNxc6ylQN0CD_eepD5dY9GdS9lKofoxXALzPrSaPg65fGzw1mBsCELJXQXWTMK0TU0Ka2IJkyUyH6n3pqpDsagoFlVmjGXz6-0LwZOUnMTS7pVJRA9cXPuCm6dtsDK8rQqdJ-HSgeJFlh3VY7jIKtLXLwcjuSlpfZCuE8a_pA1m9GYTrHmFMpXoPwf34O9c_8N927nZ0qTlj0rcDmQl7TGse0_wJzJbfaBDEY3-Dqpa2Z6U2SeRfMHoKnqv1QjurOAkdaHicChx6ugYQu4yQ-XEJeQzJc-5xoBQU1-xxkTRQXpRfUB0isu9xgB9TLqR--Nd-bU1QKbVJOYESOMcuKFD4wSRN7KXV92bwn-Oe_OQN6m95c_UYDjtwBfg5MkCsu3nFAbquLIu1vMlwWmttpOTedtzEhh8DsGCAAOUdfWv4L-VUMGyRM9vKZ6n2sFe9bCmQ4Q=w1027-h913?auditContext=prefetch);
}
#trilhas {
    background-image: url(https://lh3.googleusercontent.com/fife/ALs6j_GUqUVPvVDviPy0NoyFcpvaZ9jxXe1RXwl7f6WgVeIPKn6XQ6i1bFKYf1VJb2p2vHHrJOV_-ZfMxDLR-I0aME1iA15WpcvziYzhKoFXOEVii7OCfV4JB8TyBz-b6-cKYNJ2EYgYstCMd1JCLgWNFBd_GIPcPNu6g6vtL-Dhmb8QL0V1IhOKZlhG7NG_N9ICLt3CO_lAHPKIRAFg9Qjx9CzOQs2QdpIfWMo49vpwF3-n3v7mKx-VdpSG_b28gM2HfqX0eHY71DpDDA5aZtf0ucclZHnHCV9e4DM4WzkhGD1DuHE5W_oalphUr1pQ9vOllZygzSX5cXe3O1zQE9mMh2y1oiJO31nMWMXgLKN144MinGLbIkmPaOnEJwz-G3IDHZTe2frNDjgqeC9d2pEAZfkbLIvOJ5QUVMes8B-EdSHbHx9yYMzbu4b54Jc__LglwfyT19yJPYhXiW5-EISExY9UiLhxlNRaeY5AiS21Pf5ABFuaVjej5NG1nTUmsiGIZuGjb1SfGFpvw0g0DKjiXrBG0uuz8Xereoky9Qk6UC9a8-lQ3f0KA85hXB4YKUtbdJdZxzHcxtlBB5AOpKhPCtQspg87en4esc6VeEncwuQwj7TX03sD3YWqfzjSIepppUt475P8dGDjlPzWWPxNaPe3TGZixyXVppJ-TSz-ahq-6pwaykWU3jUPTnCk8Z-mzfGt9IZMYHCqwMF76mwkxCC_qSoP9Cyd7A3QNdGltlxIaOxOjANWK8TbjW2PmMu46FRidyDVSaKbkQ3vZ1BaK-DxLT8U6SRH1O7Kbob-XMg-nHSV4djpq0fp-uuDQqS0PylojE2fiIRTPLKHOtdQQwwHLsFViUG90s_PpMKtIo1J7OD3470AluE6m_k4hEbEsBn1tqw_pd4rtzAg98C-kG9S9hxIGsCNPYWAn9jKLcxZDRiyuacRlE9x6Ed6al526HjaGRKMA9ygR4gLMCYQD7A4ZP3veCb9YHC9THTdIbH_CAb1qh8Repr4emhCTWrk8Wt9nUma9wFa3s9j_lRQxU7x1ptqEVD3LujNPC-7L8D2yE1aNRabrfMi8uLpNknqoOgmj1xU8Qi-8mCc0tvDKx8f_WMt9H9uXuWbOU3mK40wHXIlZ76u3v6CaKtEVH8Ofk1H8rja9tpbuN4M3vHQKFdBKwsd1B9Nmgn0oGqaxSN6hhJcyvfbLpAoWY2NRsQoa5pm-6w_fNEKrTtseATub9QuloNcDwjfIOTUmGquXZzP7oEDFleGYEKLjZ3NG-9a0rWfBwqYBQeJrebkrRz7ckYVIJBDiw3aiVEm-fT7S9N3mqXSMnVx7UKUB0FBDrdBgpUTdtJtiOzGxxI22CeZp5WqSZGVgpMs-xYqp-rdL84yzxiCSsgM_aWWosEn0ZS-bD0VEt2M9fb8pl4ulm0vTsNnHz4-c8sDxE1k_z2bPyNZ8BpsY-0P7SxNeUDlrHRr2Vtv8Y9ZGJtfCAz2ILoNQ5V98NQ4NAPIZen3yFnbA3Pf8P97Oy5zLBoKtzoaVb-LRo9nTnzCBP3drs5Mzv1KRgSCW-WaQCk90TkkeE897ruvn5GFvvqbgpiIW5b4XvI_2ovHNwqga0SHXGqmMEkNAFg4QLCfKnqqe3WFajyKcLqngim88T9wVOnMjNHPPhtFiqoh_Tr_-nyf9cZaWibOJZe6nkWzMBlLVFY1lmCBW3uD5lqBiUJMzsP6Z1XJgHh-bqFVW96c1gVrSCj1x_8RN4A9d7C92bv3cpqcJOzcdnVhOAq6IElLHVw=w1027-h913?auditContext=prefetch);
}
#compras {
    background-image: url(https://lh3.googleusercontent.com/fife/ALs6j_GCaqxhl7aXpQZNYImYpKMds2qYayBIQgtz7pfkLK-JHEkeiKltxoLvjYaAbrBCY7H53r9mZM4PrfkCmcHfx-zIfEkDlXHC3qGcxgF0NLjbgzsO_NJe8gPTdEClWyOIt7zzMdgDRf3uvYmUfngdcM2FOL315nbFbvDhulJ3tmWCmF3ZNv-2OLtogDEBsTxRWlRaxnvj4wscPMyZL52SBZLsDZFw2yuw3rHBBfBX8pslOGFIRqepiJCERdAuzIuoilQJZQ2zHCblxnf8dZtq5POhHr5iXzfsh5O7rxTeVOBEFufotcEn0n6d3rLvxV2vCLr2VAacjOxBfxJNnpp7XF8eLTrjZrAOrO8J1THP7g_vwGhYQb-FO6xQxEQ6f3d-YZ4k4Bt0CEgqLiVR9ZurE8O4uoVpk2Gui27huVZmG5E0pwXB4Whg54qJ95KMi1qquStWkhRKF9FJEj2D7R8BQXFzl9KJiidYeVhp6piJzjUAdIWNdEmqxd1SE5TwHlV18F6o0yM0Vt9ZEHuSZJYYNyOnGznY4MwclekQa38gEfx-FABO6wIk00SANnC1oru_UYru_uB2UDta88555Tg9UYqFBiSOEpczOTrCdE3SyQOVUz51bHO8t6W1ApLCkzFeDNAYBxf-8tcUkNJqJCBwUnkfc7-APUo7KJi6uxyIIv4QneJooXPnooOPc5G450nVSBkSfDDU04uWRtmmg6_j5MkDPpsoVbpgUz8_LrNb4Xv9IKJjWlw7PKCXKzQ4oLcZMy9rV_ZlTsFYDK0gjydkUbQ6JXvfUZhyu4SIFYIyifmxoY_knyvPG5aZ8Kopwko_4mdq_ji_HWMSrbZeDzyQAivcltIyI91OumwPs2FGSZV-KfglE0aaEOszrZP6X13i0wVgY36ZhowvpMnaXLcrSAuZKWgw-bCipVMa4FmxIcOH6s0QZy1kR2UzXrK5NMnajSHCKZNKHaSu0C-Yw-VMjovSH1e7Yk2l04Q3lgLW17O1xFUUL9yblbZ8AZvW-oY-2inexIXfigV39DWtmO6HcJPAG4I7IOfWw1otW0uLX4CW-xTiKZHsQX7450k5z_roWRaZv4U-twGnh_D4d0Vg3sCv6bS5HjPXQ18QHZ1jKygqusKL0sDyNd5-b8OjhmDkYv9ZVSVt02AwIlqjSAaV06yzf9P8ZtDRPS1pvG51t_k_JGFTAy7X3_fPFQBh_ov2vZV8cNj-1li3nCGJNiE6dPxxzdf7WFKDtRXYnE0HxRXRy8k7-YhK9FXnUCQb0vjqLOX_Jebosi-Di9iaTro5-Tlmx4RvTUUny5ABn7EAzHwPvhuXZ6g1Hv6JnGjhdrvwPb268dxPLm9O35ODUYlb919slSLxxa38b7mg_Dml7mbtIGVrwWo3atChC1B8DrGUz6CKpC2UqZH4Pxr6o_RNhQRJqJK4FAHMfaKaHYjM4MXjzFJ1_Q43cK0a5eflaUqhrqZBFEh4kRYg6wgwNPy9cNN8kq4zim1VtME_1g1I02RvZx2gFQRDGeOOaWlpEaXoNpg-kQzMrN6lx4h7ctXewPin0YeSyRQPcoQBd4Rf1BjSa8dRtKWVNn1ZuaF50KmWOM1MmC7hYsW9vDe6-howCDe3DRN5nu4WLo5gOqJumhGIiyjvlSBfsbvmA2P5iU7MW0Br9kJp3yg_pKRhiQsIxdgag1JSrVPvLC_qrof1tvZFUn9iRPWwCV6gZRUAN3NgkkP0uJ0qJHoszmVte29lYLFhr9BBoEJszvQ8MWeKbqoRti6oYABHZhk=w1027-h913?auditContext=prefetch);
}
#lazer {
    background-image: url(https://lh3.googleusercontent.com/fife/ALs6j_HOClBWLsMI5t0lFyM7f0778ANamMdVa13tN89ZMAoWgLcVi_W3LwE7xnw45F2okBTbrXpuE03x-pd8-ZP79qSF4U9Hjd38yC8aO7umxTkOasxtQ3AHgVZgFuPneoSFEl4ckrUusesKmXiWP8HOGS_Lj9vBQCS2L2IUP8VmKuOlE4ArbnMq2hDpBWkszOXCnCBoCFZ9ASNmU6H_SmuvYGi6ljmmudkKOf4kpRqLpzTy22WweiV95pQJ0KSQh5_u3sEnKzB58PayY4Qo-xdYtqMEuBZRUASmx8H3y8mX7j5HIV9nDejFhU0l4u0XaNISj9njTeUndGFJedKdYGXnRRH2iKlP1sb2msyodIONgw2vxkjbW9LJNHD2RFA0GjZHsmPonaXJwAMisn39mbZh3C4CpSj4XOGBW6AMU_aFF0FMUxH0is2FnPLcD4_EbG5u-gbdpVte86ta7ucRIEyVDp57HcVczCkr0Ls2iLqNNq7sH-4uI5GxopNX4PeVDO1T4bbyuTQRk2sqHY6saeCQ4Q6s2Coj4FMWQXXMrNMM_b0AtKSz1cgMrTKlQbGy_B2S-_HBh_qBNUxPr88vObFjxtwo0HsZQC2jke1Tfktp1ffa0azRiTocd9qSPlOK0PGjr-AiPbfzlLofTpeaf18msNe8UUOAbmH2Ji3ubFAjoII8ssxi-AI6KsEOXSyGmGS9F5ds_HPGa5RErmdNylLwz_CzQj33CaFNGWCQWlXTmOF0iFUxxF-qLD1i4Yp91EUrLQBoC3g7Qvtrf2yuekUn25kIpu-yjYflOdFxvD9bVPhGYPgpf7VvNYoU6ROpT_nY3GNxlmhPFKe9AG_4LijU94lEtitk3NDXjzIbyd9J-EOhiPx3urrDSkf5ygulx250hw79MDb3aHsvlXGWkNCWvJp-GAQCQGpULhWQ1JpgOIhWoPNTZUHz1lR-AZzGJRrZf5R0n7wnYzncaRL-MfHII5ySGkEYro2X9wnLP86ZKal3_jv8SAO0WDU4O1QOcaXOAZx1vS7JdOd73PuUIJfjBQCTehx2aBTe_1cQ4iW8Qn0KcnZVblq6OfKrxCgUXZhDeLrKUzxONVjOTidmKZCmo84VZLLh8CnBQBgTJy_1RtswIdJf1Czj5uILfsNsR0b9GQp49fwtzBcYfdAzCN4PJ4u5DC2pfwT1uXSDNkimwgKB4KAtiKyLJH54ouoS_xp1bcNe5kRsc98FuQW4vB2KrjUSLUa47ugMr2oNmQSbKxgho8nYun8eYX-6RE-POeGQdhQgko_jbWDF23Rr-nmsfDTjbIs-S2JV5lBVtIy7QzTsFFAEf4NONlv9IJWmpsrFSK18tZbkT1MaJhumt2lz34CnhoHMj-yUd9fCHL1DMTpbo8bC6bCQ2XV1BtZ7-JPh7mUH4nLh8oXokiUAuNaU1B0FwzRCo_JpuzEO6RCK8NT1fTOYTKaIfnbejdjwfJsspkhwEGYgly2TE67_3p58RuGquwCV9cphV40JdW9QFbo_VSu05ikyUkxgrKYSlqO7v4TW_0e9y3l5GYM-Oc3N6tcazsEgiUJfAKDI2bc5gJQmW-S2zhQotHsb8zluP50jrUNApnFUbgLieNxfnP8hriV8OnAiEpGoy7SqtY2IpJ7OxZz_qffy3hn2B-Lfi6fphxROm4MX33GxxYb9eYXcDFRui5gY9bPbdN20G2W2iSXImMNVEJq1sEhaqyxw6sCPDIXPf8vIUofwv-Ceyyj9K-RWt_BKfgIqrVGjA9lBo-xDc-p8LTS8czE=w1027-h913?auditContext=prefetch);
}
#cultura {
    background-image: url(https://lh3.googleusercontent.com/fife/ALs6j_GGDmRAkx6GDTzB4WwNi6XDgp9PhWMuBpyy9ZI4UEdwGaWCiuR4ciZDsSTcVoqge3ufxpFbdF85pX9NhkFTcWXMOZkL9YYpYV0qVfmZZCilW3wUW0XNe_X0ieSPCL0NibCFqPvkTojh8qzSGFQsydsQiNMRF5sUnQ-cd0fU15vNneMu0C3czAbsg5ZGp2isoWQmaydeU5D4AmjF16G71LopOnMFcmYhR_GybVhoJgX2llghhDT3Ef0QRjyEQ8AJZQ2DQlW6ilsB8SCdYAt_vjn24Slj9YLg63s4ARHXckEqfuth2IuIIGYe8nweYFNYccFmOcSrwPn8uXcMnd6jFOek_-yF3J3dMsV7THcx4KHgdxbX5J5iT2ncHaVBIsfuf4lcmBXjleCLpuqDIj5o4iMMTuqoqoegOC9ja-yrsBi72HX2XTII4K2h62FwAOaZPWJ0gJh2NT_BRaYZZc4OxP4shrBvR270ptuwQAGV_6tslXK8yzFY4evpj8bW0GT891i-7CQopjBYsNOnga4qwgk7ZYYmJ7k251sgZGNl4Zd1cR3XaGvNFUr8UV9xPdZ0nbmICkarRg9fy9aWT8A7Cys3n7Ki7Lu0gaRlbYsrsXqNb1aMsU63HDQ-JlAvFHFJd4EeXQSc05BomaX4tEE5kRvAB6QPbaehBiWcJRvwG8IKF254nitl3OekBg2saO9A1s9CRx25w53A57ZC8JAl32LaNDDQtTcxbly1Hmj-iOeEOD-s5te4Re6TQuaImsiTRqhwhV56PhZV_gQ_4Rs99bWDwB2X1ZHKGyxEF6zCaRo5UcISlHkYWHe-lulM2KFqiBLikRwDi_s0ggDW8Qhid7kN6ulRptAjd0-1tQOC5LYAYP-aiVIL2fJsSebcI3guUUO4LIfPKeK_ZDoAzZ4sGag-VLVdnj6mrW5Tiy5Matni0O-5Ximu2khNXeu7Yis0ZoDAt9fQ7LB5EuG-MVHEweNz2HKul8kowW1jRLy2ssxxbCT6At9ENsqXBO9qXNGcykUhNDZhGa-j0zV03KPd-fa24FB8KTbGFqVimlDdsEt78Oz3qxhgFwSHBazSQprxlT-CWpTkDikt6wPReVY0205dWZdFSM9sjpzwZRIM56Kn9CYiEK6ULRi21O-Zn8mJD9I6HTfpR9OW6nsi7veEiEqv2S1ZuuhNptNOKK-P3celKQkmFjp6iEFsHgKo4D6a9eqGCAeykzFMzCLwwJ7W27HUTV16eqVPDI2kiNoQszu1J9WZSGMs9m36lnBnQzj8ufOd2dGJCJudW65VK6dXCjj-aLqUOobyUT4KbmqBb70LRWs3tyguGtwW51ZTOc-m4_CrHI6laAseXd3I-3Wry_pldbTGo1ymy0EST6HxqcVgmczo1uVLFjiv8qhIm4nvJoXccp4Bt1NzPckQXhoS06t1JXQQFjWRlt1f4qdNGTyELjoPF02TH5kUpbEYZP0HdwTEtXKXbyqfHRT6R3kq7hCU54kJrZLiOO5QvJwC75Za-5sC84TcVL5sc-qpg-ESmPZOQ_8GtYxoMXTmeDyR4JIup7J3nrTctFHCE5fhIbFYlaFkJALTVhZUt3CVSxnGLoEiRSr1SqvGXDCe9pT5aIp6NofRzZwhXgllQ97Z7h9YD8nR2WC6Z0PA0EHRflGxZPzsAOBy-JL4SsP3JFF0MSI6o6hbfD7BlMAVeSNX-ZPO-BAtPdSfDK_jlibI9f66brP5KSjsmXnec7FqTPN_CiylUWhOT34bipEq43iv9kdFgO_CRGvbVGk=w1257-h913?auditContext=prefetch);
}
#esportes {
    background-image: url(https://lh3.googleusercontent.com/fife/ALs6j_FFshvBnRQBuXoGhEKNm6yG0Pqac1nphSWgwpXn6KMIgiUiG5fEIv71DxvT1iew7R3Lc2Qauvks13OtaZTKjDw2TeLn_qujJD6nOS5nxQuxhwdDCREaXF9obAP1KOjIgyFSPm1Beo8a85sJTFtE7dvCrNu1-vAS3I77sGL0h0Pg1AmMcBS6M6su679oUBe4d2Q6z7wLbgtGQ-A6CRPGmJ6tlkRIUXgRDYBDshJtfQX0bpze44dYbVL1RTQrXybVW-RYhFTuv93MZbCDjsSFC7DKLWvrre_0NSx-eS72G9_VzOz-31-wmFWdOwqLmIcmpk_SzsmHfsv90fJlDmQrFTn-xTFeYcwAQu-OEoHjUDI_HbA9chYWadeuIoNDMmYw5mby3oTMRyz_UWEWoknR617JQSB7DPvwyLVh_jN7TqLydj1GVOp6CPQ4GAQK7YFAJCneUVbGMDNhsa-d6cYnQsLZ8crVhsURJIdhiIj-Idwce6p8CPY6jEWlkcC12dTVyDwPidOa8VVX8Si--gmrnHqCWehGYb-Mv7yrGgiGxI4Qz0IiBaNSHWGR-9BGtU_XN3RXNux-lyuWaQdl9M2DqYOY9wJQ8O6pSeS7vDoMPe0zFKee5bQPUU1CNPJwzKK55cLZ869T0KKT46BjpmxhQHbjVEipbA-Ue1jYNSvZX2uCJDGfUB6sa1C0MNIXAq4vJHl_WQkGo8kOjHyMVoh7leT-wXuIR40azBMMCy7nLe1RK7-dMN5Y5hTt_fGwDfNSfyK7GhF0vf71ETpeX73F-P6OL12C1DTrqN9OCXFk3z69455BrSzIH6--ShNq7W_iJpp-Qk-EJsby1y5YZhPUdhT6zH5UZd4lQTbnInz_QIPP7lqaJOAoPyVJLLZ48AD1vl3neB7lem1SWebtmRoX2buL14sdcM_jj_aNcsTLNcNdZxZ0N4nLe4E6GTiQaNvcLqSqN71NkbQDcsuCsQNBQPdtgHebh2AeNL0uPGH3TZQWUstI3q_v4mkLiRUt0NEAFoJdme1JuLw0VyXMpZxgJrHSucaVmymLxgA-XzgJz_ytDRpcfQAQwHovo5RFTaN_OZf04A4VV-1s9UtrOFdII1462rBOudHC4b28yqnTbszUdtisBwaoUDChHzWXxBrEb6GPA4VxMQsz8TM0lHNOGLxdX1fJplVob1d_6FpCQq_OirkLgcLI_RjBFxRFgaJovuFyYeANOLEcc3fsKnGsBsR8MAS7CwEf6igtPWF-h9b0ZrDqB_-NTy-OExCRPlyssHTlHsBlF26kiZtAX9hBwp8EHohYQrXI6qI2Y1rhaBhV0mdYz9mj0rMv1jXh7qDs00NxX6CfSKarCWPKJ00FDp-aZVMH7hC6rRvNLduEI9rlgFOdLY2aznbq6Mmm4asjpwqtjORurdviRuiMtDmQoz7S15uOcYrHHa3DvdSA2I4mULQyOI15L3EDH8cYIWHJ87rHbnZ1OisK5CRj6L-_MjO5fH5MABgLZGofA2OXLIWp6oO8cSSGh9EmEFZWnXl_YNX6DZ99lSzbD7R-ExejZeWH9HNIztAOCifGiudNpEW-h5Uq17Mznvm2X05-qGrC5d4DB6uwwgF5zpFBrJZ6lKIwg07ghUDSciqxahHtRpArh54twSj1S9v-w2gvWpKt7W95iyRTigwMkjomLueeiVwoHb6bBYK0cdvVKQAs_gW_lWH_e2CGUpmNkR9awljfbpctyWMChqLglECllttvUwPvR_Pi6sHZIBVNfd5HhC7xeEg7zLPYpK8=w1027-h913?auditContext=prefetch);
}

h2{
  color: var(--color1);
}

.cards-turno {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.card-turno {
  position: relative;
  width: 100%;
  padding: 30px;
  text-align: center;
  background-size: cover;
  background-position: center;
  color: #FFF;
  overflow: hidden;

  h4{
    position: relative;
    z-index: 1;
  }
}

.card-turno::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* shade preto com 30% */
  z-index: 0;
}

/* IDs com imagens específicas */
#manha {
  background-image: url(https://lh3.googleusercontent.com/fife/ALs6j_GBx87Qnw_a4W9q4vUN2cvW5ejvEeS1rqjQ4LoVonOo1XsZgqCsE0hAij941wrb13fgEoswcz-Tc01EG1zdLHs6x3L0dTJwhlfQMixP66O9HoI4FHBWinwKQDYHDUq_s6JuqLZYWCLxSVSYGGNA9Dtk7z1WPKbnGlicI_xzM-ZjQcbPnxU-8IpFbEwhVuZ-fW-e-5VvUic-Ka6FBWv9kIDlncqwSNWC5dw7i2QfFyu8RrkhXI0iHRyjXDe-GHNH-8bclNjPL03GhN9Lt_G40u-lb76ioPUQzLnRZl6MH6ZK6X-TXeB_HJGSDN3y0CHm-uxvQPnyfJ8-V3fcaQiDQLPjgCJgjZOyIXeQl9ymGGKq39i8wODvi2jem5dhgGpkkcOu8jSfI5IdCss78sJlMNunX6546uUaFQW6wtB4VwfkKjLA4DDUEDgmA8cJThQ9YfbOGOBN647UzC5nBgaOALi_VzVIqXwucgK7WDC8BdKZXg7t2X0-dd-WJIG4P24y2bs6czGSQIQ70wa7-QaRuDfdP5amkRN3yBMNnRzEYg8cRAWlpODHpI2dZLbS3MOpA3jANmPgUzNtak39v2CIeuskW0Xj75rYF948lLdMUWK4iP8cI-SsiHkSGtoYnLYZWLe6_Rsc77NxNaTGbMpSItZ1kxiKlVbvf5xuOCPhbeRTn72ghcw8wVGUKeRLuuPCnHIlfwPZoflMPC8zgzsA3CIxX6Kyo8qwNpbyHFFt0zBbcGHYfcODZMI1Rnk_JjGDOcxxm8Y5CET5lL2Zu75C-qash9poArBlck1kSrTz6A4lw1EXTZgW5AP7lNAlj8RChUV_ATlWBomDtncfjQ89Xci59WDUVZN6fYyNCKmQ598AOGTcUAg9f51nUvbjrFAPcBzUpcMQi3iFKBUeVz0rm27mfgmpAvzTLkaBZASVZUW4x8G7EjujE9xELGjyG-E3ZptOy8tN7XeqIcZ35vDT_3oalNZHpM-4MEPT4wwlC3Ze2Ajfp15SNOo3TqOLFNbJVgp6U44zQy-XVGQQ5TIhPf9lBLyvSS4-617zJmv19nxGJ0S3dGWcbG4C2EguorSFqXpm72PVssbTUtP0LiCW16jV_zLvgqSHL4scHLbt8pQfYMNrJmGaT0QZC5rKlCTFvR_jjK1wdinZ-PuTVWjYp8q2pY5-utdgKq7fFomLuh_Tl2gvEwWUkJ8K07BskmDCld3XQfszm8pRRWbpaHS-ePMHhGydyWWfvxLRs98F4HPXQ8ZNobYAmec5Yu4CectvR14TGA57om0qEayqkTk6JSsN--dtgFC7z89iZH91D9Fhg5jhjLQoj8jgtz8zBebILj5QrunMWDeLzxKhRXLQ5R3Oi8caeo0vXKEXHU4KaMJbyLug1UhOaUu38ooa6O9kFfUh81z-Y9UqoI7qFO6EfdgRWADwrWRnLW-gqg_GpKvRNrmPZDXE7FcK_ZkTFgHU8trNBT-jZEPEHBtedSgO_UtJEYmJXz8B2bcqmuh_dz0pBtcVq9f6zLuCgiq_iYX1dXRqvRVNyjsbt_04NWPMw1sID4YqkJhD4kqBdpE9OqZnCyGGBEpVh5OO69yM3Rd4ULZPrHDVyE-LLSCxysRRcHxPa8PPoRp67i4T20c7C3vHhkXVtnc9n3I__92_tEEbA9mirsPi1l4O2sexYnXUV6oDrdWBkXt17EvmaA0rpuQsLqxZhfq9H72pnoXAt5Z3TknBpVGDbl_7NZQ9CxEgqEmSYEF5QgcqAv5g1QgDRcnchr5XPlyPKBs=w1910-h922?auditContext=prefetch);
}

#tarde {
  background-image: url(https://lh3.googleusercontent.com/fife/ALs6j_EFQynUaem60tNePBtv4GuUBq-Bww15WABMMI9z6nxrf8GTUCGeeNie-hyAnPz6ai54dJgaeOipMuflzyxnpm-NJyN-rt7dXUm8p0eGA6gVvuZ5x3BAAF_Ahruammo79I1gd307HTx12I17z9OFyqsEkB2lXoAdcRwCDQ9NOC8xSQsyoFSDO_kmiBAmS6Kr7uP16S8s4kMim-3rBv1Gi260pl9GGBc4ruCE1B6hbxVuyj0_ZxwahJFaWhKvSy-GD096kIqUfx9hwVyzA-tw8-En0TktVA-IsL2IrObZod3DjZpC3muXlg0dI2FlDEDf3UJCEoK6i0vxqS4gd1Wru1P9igWFoJWxWUSDXR2KAL_SVVP4d9EeQ0cFWeVPRGsZkcQyncw2VXmdzasvIZNt1HGxMX26aiWmLH__2YqsSjStRjELEtaKBY80j1vSQAcqY3mChQ0d9msEkSLj6yyx2gGOBr92sSP1qV1Cj8CkXg7-EJBxdiJlwoSjtl5TNeo0v1nqckwScm0lMejPC22gXrMYilRTFFnPPNARg_cUUVKPmQ87fyh-TSov4onfe35jytDK5FxIE4h2d8o67DujDYTcVfeH2ZtMU5uqOx17dihXoqALdBoEkwTCbjyFElMS5LdSa0VQoDFmz9JvatjSzvu8NyLRMLurSAboFmJ8uRoj7sLs2NPPBRbPKz9ULQ35M2gZFTp5xBLm3YcGrUDJAmPMcoQKR3s_k0eTsdK9fuZTJZ6ocr7UW8nSprHZ4hdGizk_g7g5Sub-LWtCnDoTwnz5syOT_FoNeagh8tK_YAkPTYb93KzmgaMQbuzfRRpkrKWtyLoxo8kXU6lYstMQuwjyR7R0RMox2gdZHMhhDVoaqcV_ejAkZrhV7JJzjSxra1wQKaTMiDiiw1rzoajTcGH2IfzmeFNVAY73AhkOWCQ--iiQW9MXmZFFMlKFJfnOAn9TZYniMRIyexStanTr_7w6iYVyajxoZIDuewN3luvYww2irAJhNkUZHepJ8JgyWkXPuftk9f40mVxLZQk_I8SxWs0ndzJhbjUBPprHWbybCIkzDa0GDUvs8YB80KTvaExcrN-rUzRnzgjM8LFtrwqYYkPkMnCOe0zHBTvOfN8UPhlNRSe-SB-bCxcb7Qem5FoEarftk143elXwNE8pvcYK_EBHByeQnww0f3lATEFLto6X3y4fXDJpgEtjHTuqWUYR28miA4C5jM9lOK9uqoJSXvTAxDGkkcLL1DP3Mm7Imp6pzf5rdeh-krwCjz5dkJab98VwfbhQPyNMx8OxFXLq9lCWKkWxVRMtjb_THcK58JIeW-Vnl6VLySJl-y06IY0gGG5mZ0FbXYMj1_S4-kOUrxXXgJ2fB43unPHq_sgt5vYPq8c4EKv55653rb_rc6dZqomUBD2EM8rKxzbhdNADYJoCM-KL6S4FHd4As3lCacTf4vyAb_eY9RzJHPhIAMiFndNf3EMzLVZvJPpKUueA2Bsm77sLdrWizGKKeqxOeJUtnlybAjwd3DWMh3gME1qELPnzuT7F3luM-WacYj1TIq1bnw1aPpiy1gBQV3nvMNDdytl5zCNaV3r9F7McpVlBuJ51h2Z1fRsaoQKsoMqh41OKw0Rje4XhMUpL1wzC8vv1oXTJuxiK9VWZfx5auIr9zjzeMJDkpj0LCEXyyRA7RAmIkrKnqHUskrvKAYBCcDskUKyyXShoLsSihDZxEfZkPseX7gKr54W767U-3wYiheGXOTPB55rItUNxJOm_WntwmiTDUA=w1910-h922?auditContext=prefetch%22%20class=%22a-b-ta-Ua%22%20alt=%22Exibindo%20unnamed.png);
}

#noite {
  background-image: url(https://lh3.googleusercontent.com/fife/ALs6j_Ei2Xt1AwwP9F6hbZUfgKUpPjw_ZQnR4SjkK-aTM7qjZNrB05zU7xuLFF3C_bXQmpnvqQviCgSitgpznSruV4iD4jnIbMPQJkEW80uXqwXbHj_REMbcqbPdNAc3Q73Mw0MunoxgLcjweNDqk0FLypFWCANMVTsCJwgpT0GsoFn_L-T-sRKh4Ci7WrzG3_nttQcRbJVMTywGXiU6kBY4SqxioZ90puGbgHkTWJCD-MwtEkIQPRXel-VzCnFW8hbGkYTBjP5lNz1i4LIUXxrOhVJymPD4S7C24T_-d3FiOTcpRxRbDMAjpOFkPiRn4Px3imkAfK5Rb_e7d4VeyI95i_WetMkhz2WiZUYfw63684Jv80WP3C7gOHbJO7BAE7gxUVghRhBEgqwPfpvdFJciqNlgaqIwhjSMM24MSL2YufregpiI2Zt97i0J6FR_sCJ7MFB2TUQNi6FekgawUfmIz8MGUTNobmh3J5Muki8CtU1_BIfV3Rdt3c0SBW8RoiW5MPZektSAcrxXI9Yml95k1q9VYXFK_35xks6HMeGdvfP0kBN0Xjj_9FVJgD0nlIZvINJL54IsV-0868CV_QgdSEBkotvMiCDAkuXRRkyxWYHKJbFzQeMga88VRLySoMTYluCora_U9uAMBT9gifU3vf_SHNx5Sij0m6EdG69x7A4r0OhkZcdJmpFU24n3VyQLaWnNdshwzONQRamzaWqoYXcVdWqBJhJxxWiLvFzQvqbDK_bHCNvWcjEBbEWYNKbqv8BfE0i93K74853e037N93Ak8OVzdGerhnDaLu-auyQ0WbFVlhddj7x3FY7aK9Si910HiCA7FLsbXkzffpIY3OOWRM4ueoUr-btmD3Qr80SUW6VqbQr6EVJt4gizCXQ4FziSraCrGD2iWVqeFI0i_zpaRn0lZHaHbKF5Cpuu25fLjkPH5pm1Fqwg3Sq1ebZ-Rd1cjTU6lj1h2WT95e9RLmPeyInne5AOFnrBiKJsdGbnvvKIbBIA_yIPSlbEYypLG_u44ykO-rHJ5qCek0d-Qu2dQYqqbz7W7qwRteNptrM4uJSUSHq_n17U-QpjYE9tb0ymqj1WIGYmrIhWv9XHzqE-kB3-2TwgXyvcxwgYBzOaiQzhX84Trbzat1MAOMla9szA0ui_95XNgm68Rq9czrMBTTOQjTkwGWnYLTf1FYqYblQVGSqV3ecPv4BzW9aV-9wMsNu-FUhSTTE4I7f9xoREezCM8xIbUMvXUl36u4uJsl71ugNpSPAETZX21eGYRhwzaFj8s7u71K0z39Wj554esTD0aTW19ZPbpRzh4WdOxBr2dHbu6vuOyfhnoP-uKrhhoCG7vi5BrxmP37KI2Q3xMgZyo8CLwJ5dNh1SEFh-CGNDCH-GGW1eSt7nAJuaLa0BCp4i5seuzgApOXagdojYrOAr6WlVJOcIUh86w1x2UbKsL-RE-NppQH210PQtKMi5ouUvNZKlzLXj9y_wkg3iYBP8ObiDJr0X6vKvlmVpoEiSwzznELGk2d4nil--lEXQOcud8h_q37LTq3qKWsrTXXt82qNOWVf9rGIO2Td_LxL6d4nY1Mrt-Bl_AKbKFLmFFZK-g-MGdf0lG14s4qe7YH2WXBDOb1YD1xCq0tV8L6IV6o4L80MD27SLv3I0PevDCGgdX6EShTVc-RrTjyEFzGC_zXylIO1z8IvDZjDlBcl83OM7yo5Qvzt-YrmIRDovDZYIldvI7IMDkOtJ_pFFI_6hG6z6t1niB8NtTs-gB5TUfqbFcGo=w1910-h922?auditContext=prefetch);
}

#madrugada {
  background-image: url(https://lh3.googleusercontent.com/fife/ALs6j_HvXYqS8hdJu-1BQKpYwHcMIX9-jhjzw_evc0ReTE124SkATGqmKGs5ybpz1SqNblf33tnYYkXUL8bzw1UyE949CEUunWb3hODQ5DMumshWJHz2eCnHO1UzgySIpXeY_KKlz12lHRFEYtWeVf9_vPjfIc4rk0DcwbsuyexTgkK1qQs0y0LrxEI7H7VPbtWzRe1z1OtLrC1umzRYqmEQi0JGYLpkCKhkxMbF0rjwBDJ5FpVEacA34hB2HgtP8B8OoQl3qBevAuD6r5hB0hQhCcYEJnffi1ZudDtvygIeGz0j5pJ1TmHxSR69t0N8LxDClIfhEQZs5lfv7OBGnmxw0MBgKdgJqh5SmKozQc_9igX_ULJv-zn8ZmBhsb4RiABBXmKZNt5SbvPmQsUkzoO89iVZLCz_lvRjN264QxCbm76UqrWhD9oE5LJANVkKLDA59i3cR9sppv6KyTmYA3tRRVlPkgCUsbtW_sTlaTBwzxm2YK1jZU62gjgwmHbMKAi4bPWvYDjkpEuUBgUKGhUiSzaVu3qWVZVPGGGVWOGfCdmwor2X_lvV9cHV59ZoICnuB_CBe5TSIx44YVONaRN94JJavEwRUpnCVq6sjeOYm1Onz7wTQhylZuYGzCcoGsHm2_jYgJm8VykZqCBu3tfUYoIk80QJiwoypi4SR3x3gagTzGoMoOBLV5w0wuh1tJNW2otM16xjO6uUkvkz93KOZ3o2xSAcxgURCSD8OcCGzIWPm8OP8xhnGCbHRK8rsKR21GUljgqN52BHghMxVAfmJSkmbVnix7tjo-Lv3wA9K3X6fl1vPtm5h_-nCLvmmXgNVdLJ2rnBnSs3ujLwa5JeO0b7unKRB2qx5A_5HIOyzqvD1XOh0I4DI5kQSowIlj6miRgSZYj91uSCwGMseJ2ModLgKq4T-6ixSxrSqx9gUMq2gV6aWto0-zbJcKBSLuFUOR1uUqwK_Xuafu6i6hDFnLIxUq5zsNm4bWogOLbhiZPq21mspIwM21Y6hWZiwJuJkj0gi4yJcno4JD9UkjZIzlnnv4tc_9BNxttdoQxC42ORc-TxYwEaJXrenSEE6n-YCFmz_5dDnuqfrTF7e3qD_vM-jJ72AjRMkIeyhcT6hCZuthh30Kj-cjjZJJaOVcylSf2VbZe6A-ruxdAESrr44Ias_U0m1abOrbSHamdlXOg_oJad9tSacHb9Zks6GwH0Je627uO96jGx5xzNp8GaxMu0136XWip8KHZ79pWabmd89KZsFaba5O3UDEz59wdiOIq2SPo5MW-HCoWY0YIBM3nNo_WLBub7uxZWH5DuHZ3l-IspIKq8J8V8Gvtvjaz6Y-5pEgu0oSqxSBsXVRsGaYaJOeV9FZ1BSGBwxa5nykunYLI_NjB0cjQCTcku3B4BKPn9zYatVJke0R4rLftf0A0748rGvNoUxoqJvGVLYVHwn6hyngKSu4aWhpgI0gpjKluxLuYhCq297gy_tnymvk6-HB7HnKoNEFaKWMSg1s_X3PgvkLSIPzPfp7K8kYWgalA0byWuNE1dzFmFSwwsGm7IUb1jkx4qfqNXqZULwsDkKAZVAT6FmDfhINSgpHtkAIp-PQ91YHDGnAEBVFN2mDT47JPnLGXGCWeo91dF1bRVGveIR6lB9CXJr9Q3xNErSxFsJefKyjdVvyVbPNzpS3swLlHFPMCcW3SJ5HR4WwKvvluHa3qkoNUbZ89eL3cpRY6_iRL_DaJajSC3RsGBBLZJPygDwYtgzTNoV-4QUmXMt2KM37bfxBM=w1910-h922?auditContext=forDisplayv);
}
